In [1]:
import pandas as pd
import numpy as np
import os
from tqdm._tqdm_notebook import tnrange

filepath='D:\\research\\8_GUCD\\POI_MN.csv'

file_pd=pd.read_csv(filepath,header=None)

<ipython-input-1-bc79fc76a89f>:4: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.*` instead of `tqdm._tqdm_notebook.*`
  from tqdm._tqdm_notebook import tnrange
D:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (10,11,17,18,21) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [2]:
file_pd.columns=['place_id','spatial_id','chain_id','category_ids','latitude','longitude','names','address','city','state','zip-code','cbg','dma_id','cbsa_id','local_timezone','opening_date','closing_date','is_open','is_high_confidence','is_multiuse','closed_hours','ceiling_scores']

In [3]:
split_pattern = r'[,-]+'
file_category=file_pd.category_ids.str.split(pat=split_pattern, expand=True)

In [4]:
file_pd

,place_id,spatial_id,chain_id,category_ids,latitude,longitude,names,address,city,state,...,dma_id,cbsa_id,local_timezone,opening_date,closing_date,is_open,is_high_confidence,is_multiuse,closed_hours,ceiling_scores
0,13857077,7.190000e+17,post-office,"42150000,piq-retail,piq-office-supply-stores,p...",43.65546,-96.20487,Post Office - Luverne,407 E Lincoln St,Luverne,MN,...,725.0,182.0,America/Chicago,NaN,NaN,True,False,False,NaN,0.633812
1,14180901,7.200000e+17,non_chain,"50230500,57120000,piq-retail,piq-furniture-and...",44.84050,-93.79290,Real Deals On Home Decor,10580 10th St,Waconia,MN,...,613.0,1182.0,America/Chicago,NaN,NaN,True,False,False,NaN,0.90963
2,24656420,7.200000e+17,msc-industrial-supply,"52510000,piq-retail,piq-home-improvement,piq-h...",44.86399,-93.40785,"Minneapolis, Mn",7672 Golden Triangle Dr.,Eden Prairie,MN,...,613.0,1182.0,America/Chicago,NaN,NaN,True,False,False,NaN,1
3,24695293,7.200000e+17,non_chain,"60290000,piq-financial-services,piq-banks,6081...",44.95316,-93.10500,St Mn - Transportation Building,395 John Ireland Blvd,St Paul,MN,...,613.0,1182.0,America/Chicago,NaN,NaN,True,True,False,NaN,1
4,23994395,7.200000e+17,non_chain,"72310000,72410000,piq-retail,piq-health-and-be...",44.05169,-91.63300,All Family Hair Care,166 E 3rd St,Winona,MN,...,702.0,549.0,America/Chicago,NaN,NaN,True,False,False,NaN,0.190658
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79430,13976230,7.200000e+17,non_chain,"59219900,51820200,piq-retail,piq-liquor-stores",44.08549,-93.21792,Vine Street Liquors,108 E Vine St,Owatonna,MN,...,613.0,589.0,America/Chicago,NaN,NaN,True,False,False,NaN,0.549367
79431,12539997,7.200000e+17,non_chain,58120115,44.95546,-93.11821,Krua Thailand,432 University Ave,Saint Paul,MN,...,613.0,1182.0,America/Chicago,NaN,NaN,True,False,False,"1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,1...",0.394682
79432,6142134,8.160000e+17,independent-community-bankers-of-america-icba,86110000,45.30317,-93.79532,CorTrust Bank National Association,106 East 4th Street,Monticello,MN,...,613.0,1182.0,America/Chicago,NaN,NaN,True,False,False,NaN,0.55208
79433,1242497,8.160000e+17,non_chain,"61620000,piq-financial-services,piq-banks",45.06925,-93.44394,First Class Mortgage,12906 63rd Ave,Osseo,MN,...,613.0,1182.0,America/Chicago,NaN,NaN,True,False,False,NaN,1
79434,23516646,8.170000e+17,non_chain,"53999903,54110200,59410101,55410000,piq-retail...",47.42864,-92.92131,Lucky Seven General Stores,1501 E Howard St,Hibbing,MN,...,676.0,1151.0,America/Chicago,NaN,2021/9/28,False,True,False,NaN,0.856606

In [5]:
merged_df = pd.concat([file_pd, file_category],axis=1)

In [6]:
merged_df

,place_id,spatial_id,chain_id,category_ids,latitude,longitude,names,address,city,state,...,64,65,66,67,68,69,70,71,72,73
0,13857077,7.190000e+17,post-office,"42150000,piq-retail,piq-office-supply-stores,p...",43.65546,-96.20487,Post Office - Luverne,407 E Lincoln St,Luverne,MN,...,None,None,None,None,None,None,None,None,None,None
1,14180901,7.200000e+17,non_chain,"50230500,57120000,piq-retail,piq-furniture-and...",44.84050,-93.79290,Real Deals On Home Decor,10580 10th St,Waconia,MN,...,None,None,None,None,None,None,None,None,None,None
2,24656420,7.200000e+17,msc-industrial-supply,"52510000,piq-retail,piq-home-improvement,piq-h...",44.86399,-93.40785,"Minneapolis, Mn",7672 Golden Triangle Dr.,Eden Prairie,MN,...,None,None,None,None,None,None,None,None,None,None
3,24695293,7.200000e+17,non_chain,"60290000,piq-financial-services,piq-banks,6081...",44.95316,-93.10500,St Mn - Transportation Building,395 John Ireland Blvd,St Paul,MN,...,None,None,None,None,None,None,None,None,None,None
4,23994395,7.200000e+17,non_chain,"72310000,72410000,piq-retail,piq-health-and-be...",44.05169,-91.63300,All Family Hair Care,166 E 3rd St,Winona,MN,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79430,13976230,7.200000e+17,non_chain,"59219900,51820200,piq-retail,piq-liquor-stores",44.08549,-93.21792,Vine Street Liquors,108 E Vine St,Owatonna,MN,...,None,None,None,None,None,None,None,None,None,None
79431,12539997,7.200000e+17,non_chain,58120115,44.95546,-93.11821,Krua Thailand,432 University Ave,Saint Paul,MN,...,None,None,None,None,None,None,None,None,None,None
79432,6142134,8.160000e+17,independent-community-bankers-of-america-icba,86110000,45.30317,-93.79532,CorTrust Bank National Association,106 East 4th Street,Monticello,MN,...,None,None,None,None,None,None,None,None,None,None
79433,1242497,8.160000e+17,non_chain,"61620000,piq-financial-services,piq-banks",45.06925,-93.44394,First Class Mortgage,12906 63rd Ave,Osseo,MN,...,None,None,None,None,None,None,None,None,None,None
79434,23516646,8.170000e+17,non_chain,"53999903,54110200,59410101,55410000,piq-retail...",47.42864,-92.92131,Lucky Seven General Stores,1501 E Howard St,Hibbing,MN,...,None,None,None,None,None,None,None,None,None,None

In [7]:
contains_piq =merged_df.eq('piq').any(axis=1)
merged_df=merged_df[contains_piq]

D:\Anaconda\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

In [12]:
file_category

,0,1,2,3,4,5,6,7,8,9,...,64,65,66,67,68,69,70,71,72,73
0,42150000,piq,retail,piq,office,supply,stores,piq,shipping,None,...,None,None,None,None,None,None,None,None,None,None
1,50230500,57120000,piq,retail,piq,furniture,and,decor,None,None,...,None,None,None,None,None,None,None,None,None,None
2,52510000,piq,retail,piq,home,improvement,piq,hardware,stores,None,...,None,None,None,None,None,None,None,None,None,None
3,60290000,piq,financial,services,piq,banks,60810000,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,72310000,72410000,piq,retail,piq,health,and,beauty,piq,beauty,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79430,59219900,51820200,piq,retail,piq,liquor,stores,None,None,None,...,None,None,None,None,None,None,None,None,None,None
79431,58120115,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
79432,86110000,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
79433,61620000,piq,financial,services,piq,banks,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
79434,53999903,54110200,59410101,55410000,piq,retail,piq,convenience,stores,and,...,None,None,None,None,None,None,None,None,None,None

In [34]:
row_list=[]
col_list=[]
target ='piq'
for index, row in merged_df.iterrows():
    for col in range(len(row)):
        if row[col] == target:
            row_list.append(index)
            col_list.append(col)
            break

In [36]:
loca = [[row_list[i], col_list[i]] for i in range(len(row_list))]

In [22]:
merged_df.loc[loca[10][0],loca[10][1]+1]

'dining'

In [41]:
category=[]
for i in range(len(loca)):
    category.append(merged_df.loc[loca[i][0],loca[i][1]+1])

In [43]:
merged_df['category']=category

<ipython-input-43-a7b57756a3d3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df['category']=category

In [46]:
merged_df['category'].unique()

array(['retail', 'financial', 'entertainment', 'dining', 'automotive',
       'miscellaneous', 'motorcycle', 'travel', 'storage', 'real',
       'educational', 'business', 'car', 'truck', 'legal', 'industry',
       'cleaning', 'ev', 'transportation', 'services', 'optometrists',
       'pay', 'employment', 'tech'], dtype=object)

In [51]:
merged_df

,place_id,spatial_id,chain_id,category_ids,latitude,longitude,names,address,city,state,...,65,66,67,68,69,70,71,72,73,category
0,13857077,7.190000e+17,post-office,"42150000,piq-retail,piq-office-supply-stores,p...",43.65546,-96.20487,Post Office - Luverne,407 E Lincoln St,Luverne,MN,...,None,None,None,None,None,None,None,None,None,retail
1,14180901,7.200000e+17,non_chain,"50230500,57120000,piq-retail,piq-furniture-and...",44.84050,-93.79290,Real Deals On Home Decor,10580 10th St,Waconia,MN,...,None,None,None,None,None,None,None,None,None,retail
2,24656420,7.200000e+17,msc-industrial-supply,"52510000,piq-retail,piq-home-improvement,piq-h...",44.86399,-93.40785,"Minneapolis, Mn",7672 Golden Triangle Dr.,Eden Prairie,MN,...,None,None,None,None,None,None,None,None,None,retail
3,24695293,7.200000e+17,non_chain,"60290000,piq-financial-services,piq-banks,6081...",44.95316,-93.10500,St Mn - Transportation Building,395 John Ireland Blvd,St Paul,MN,...,None,None,None,None,None,None,None,None,None,financial
4,23994395,7.200000e+17,non_chain,"72310000,72410000,piq-retail,piq-health-and-be...",44.05169,-91.63300,All Family Hair Care,166 E 3rd St,Winona,MN,...,None,None,None,None,None,None,None,None,None,retail
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79428,17943915,8.160000e+17,american-family-insurance,"64110300,64110000,piq-financial-services,piq-i...",45.57485,-93.22457,"American Family Insurance,Jeffrey Pynes Agent",305 Main St Ste A,Cambridge,MN,...,None,None,None,None,None,None,None,None,None,financial
79429,18069399,1.440000e+17,non_chain,"82210100,82210101,piq-educational-institutions",44.98164,-93.18112,NaN,NaN,NaN,MN,...,None,None,None,None,None,None,None,None,None,educational
79430,13976230,7.200000e+17,non_chain,"59219900,51820200,piq-retail,piq-liquor-stores",44.08549,-93.21792,Vine Street Liquors,108 E Vine St,Owatonna,MN,...,None,None,None,None,None,None,None,None,None,retail
79433,1242497,8.160000e+17,non_chain,"61620000,piq-financial-services,piq-banks",45.06925,-93.44394,First Class Mortgage,12906 63rd Ave,Osseo,MN,...,None,None,None,None,None,None,None,None,None,financial
79434,23516646,8.170000e+17,non_chain,"53999903,54110200,59410101,55410000,piq-retail...",47.42864,-92.92131,Lucky Seven General Stores,1501 E Howard St,Hibbing,MN,...,None,None,None,None,None,None,None,None,None,retail

In [54]:
result=merged_df[['place_id','spatial_id','chain_id','category_ids','latitude','longitude','names','address','city','state','zip-code','cbg','dma_id','cbsa_id','local_timezone','opening_date','closing_date','is_open','is_high_confidence','is_multiuse','closed_hours','ceiling_scores','category']]

In [55]:
result

,place_id,spatial_id,chain_id,category_ids,latitude,longitude,names,address,city,state,...,cbsa_id,local_timezone,opening_date,closing_date,is_open,is_high_confidence,is_multiuse,closed_hours,ceiling_scores,category
0,13857077,7.190000e+17,post-office,"42150000,piq-retail,piq-office-supply-stores,p...",43.65546,-96.20487,Post Office - Luverne,407 E Lincoln St,Luverne,MN,...,182.0,America/Chicago,NaN,NaN,True,False,False,NaN,0.633812,retail
1,14180901,7.200000e+17,non_chain,"50230500,57120000,piq-retail,piq-furniture-and...",44.84050,-93.79290,Real Deals On Home Decor,10580 10th St,Waconia,MN,...,1182.0,America/Chicago,NaN,NaN,True,False,False,NaN,0.90963,retail
2,24656420,7.200000e+17,msc-industrial-supply,"52510000,piq-retail,piq-home-improvement,piq-h...",44.86399,-93.40785,"Minneapolis, Mn",7672 Golden Triangle Dr.,Eden Prairie,MN,...,1182.0,America/Chicago,NaN,NaN,True,False,False,NaN,1,retail
3,24695293,7.200000e+17,non_chain,"60290000,piq-financial-services,piq-banks,6081...",44.95316,-93.10500,St Mn - Transportation Building,395 John Ireland Blvd,St Paul,MN,...,1182.0,America/Chicago,NaN,NaN,True,True,False,NaN,1,financial
4,23994395,7.200000e+17,non_chain,"72310000,72410000,piq-retail,piq-health-and-be...",44.05169,-91.63300,All Family Hair Care,166 E 3rd St,Winona,MN,...,549.0,America/Chicago,NaN,NaN,True,False,False,NaN,0.190658,retail
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79428,17943915,8.160000e+17,american-family-insurance,"64110300,64110000,piq-financial-services,piq-i...",45.57485,-93.22457,"American Family Insurance,Jeffrey Pynes Agent",305 Main St Ste A,Cambridge,MN,...,1182.0,America/Chicago,NaN,NaN,True,False,False,"1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,3...",0.51744,financial
79429,18069399,1.440000e+17,non_chain,"82210100,82210101,piq-educational-institutions",44.98164,-93.18112,NaN,NaN,NaN,MN,...,1182.0,America/Chicago,NaN,NaN,True,True,False,NaN,0.333084,educational
79430,13976230,7.200000e+17,non_chain,"59219900,51820200,piq-retail,piq-liquor-stores",44.08549,-93.21792,Vine Street Liquors,108 E Vine St,Owatonna,MN,...,589.0,America/Chicago,NaN,NaN,True,False,False,NaN,0.549367,retail
79433,1242497,8.160000e+17,non_chain,"61620000,piq-financial-services,piq-banks",45.06925,-93.44394,First Class Mortgage,12906 63rd Ave,Osseo,MN,...,1182.0,America/Chicago,NaN,NaN,True,False,False,NaN,1,financial
79434,23516646,8.170000e+17,non_chain,"53999903,54110200,59410101,55410000,piq-retail...",47.42864,-92.92131,Lucky Seven General Stores,1501 E Howard St,Hibbing,MN,...,1151.0,America/Chicago,NaN,2021/9/28,False,True,False,NaN,0.856606,retail

In [59]:
result.to_csv('POI_category.csv',index=False)

In [60]:
result

,place_id,spatial_id,chain_id,category_ids,latitude,longitude,names,address,city,state,...,cbsa_id,local_timezone,opening_date,closing_date,is_open,is_high_confidence,is_multiuse,closed_hours,ceiling_scores,category
0,13857077,7.190000e+17,post-office,"42150000,piq-retail,piq-office-supply-stores,p...",43.65546,-96.20487,Post Office - Luverne,407 E Lincoln St,Luverne,MN,...,182.0,America/Chicago,NaN,NaN,True,False,False,NaN,0.633812,retail
1,14180901,7.200000e+17,non_chain,"50230500,57120000,piq-retail,piq-furniture-and...",44.84050,-93.79290,Real Deals On Home Decor,10580 10th St,Waconia,MN,...,1182.0,America/Chicago,NaN,NaN,True,False,False,NaN,0.90963,retail
2,24656420,7.200000e+17,msc-industrial-supply,"52510000,piq-retail,piq-home-improvement,piq-h...",44.86399,-93.40785,"Minneapolis, Mn",7672 Golden Triangle Dr.,Eden Prairie,MN,...,1182.0,America/Chicago,NaN,NaN,True,False,False,NaN,1,retail
3,24695293,7.200000e+17,non_chain,"60290000,piq-financial-services,piq-banks,6081...",44.95316,-93.10500,St Mn - Transportation Building,395 John Ireland Blvd,St Paul,MN,...,1182.0,America/Chicago,NaN,NaN,True,True,False,NaN,1,financial
4,23994395,7.200000e+17,non_chain,"72310000,72410000,piq-retail,piq-health-and-be...",44.05169,-91.63300,All Family Hair Care,166 E 3rd St,Winona,MN,...,549.0,America/Chicago,NaN,NaN,True,False,False,NaN,0.190658,retail
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79428,17943915,8.160000e+17,american-family-insurance,"64110300,64110000,piq-financial-services,piq-i...",45.57485,-93.22457,"American Family Insurance,Jeffrey Pynes Agent",305 Main St Ste A,Cambridge,MN,...,1182.0,America/Chicago,NaN,NaN,True,False,False,"1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,3...",0.51744,financial
79429,18069399,1.440000e+17,non_chain,"82210100,82210101,piq-educational-institutions",44.98164,-93.18112,NaN,NaN,NaN,MN,...,1182.0,America/Chicago,NaN,NaN,True,True,False,NaN,0.333084,educational
79430,13976230,7.200000e+17,non_chain,"59219900,51820200,piq-retail,piq-liquor-stores",44.08549,-93.21792,Vine Street Liquors,108 E Vine St,Owatonna,MN,...,589.0,America/Chicago,NaN,NaN,True,False,False,NaN,0.549367,retail
79433,1242497,8.160000e+17,non_chain,"61620000,piq-financial-services,piq-banks",45.06925,-93.44394,First Class Mortgage,12906 63rd Ave,Osseo,MN,...,1182.0,America/Chicago,NaN,NaN,True,False,False,NaN,1,financial
79434,23516646,8.170000e+17,non_chain,"53999903,54110200,59410101,55410000,piq-retail...",47.42864,-92.92131,Lucky Seven General Stores,1501 E Howard St,Hibbing,MN,...,1151.0,America/Chicago,NaN,2021/9/28,False,True,False,NaN,0.856606,retail